snippet css "css prop"
css={{
  $1
}}
endsnippet

snippet csc "css prop with function"
css={({ colors }) => ({
  $1
})}
endsnippet

snippet c "css prop function"
({ colors }) =>$1
endsnippet

snippet ust "useState()"
const [${1:name}, set${1/.*/\u$0/}] = useState($2)
endsnippet
