* {
  font-size: 14px;
}

window#waybar {
  /* otf-font-awesome is required for the icons */
  font-family: FontAwesome, Iosevka, sans-serif;
  background-color: rgba(0, 0, 0, 1);
  /* border-bottom: 3px solid #ccc; */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 50ms;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

/* window#waybar.chromium { */
/*   background-color: #000000; */
/*   border: none; */
/* } */

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  /* background: inherit; */
  /* box-shadow: inset 0 -3px #ffffff; */

  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

label:focus {
  background-color: #000000;
}

#mode {
  background-color: #64727D;
  /* border-bottom: 3px solid #ccc; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#bluetooth,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 6px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
}

#battery {
}
#battery.charging, #battery.plugged {
}
#battery.warning:not(.charging) {
  color: rgb(180, 160, 80);
}
#battery.critical:not(.charging) {
  color: rgb(180, 80, 80);
}

#backlight {
  background-color: #90b1b1;
}

#network {
  /* background-color: #2980b9; */
}

#network.disconnected {
  /* background-color: #f53c3c; */
}

#wireplumber {
}
#wireplumber.muted {
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  /* background-color: #2980b9; */
  padding-bottom: 0px;
  padding-right: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 4px;
  margin: 0 4px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 4px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 4px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 4px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}
#privacy-item.audio-in {
  background-color: #1ca000;
}
#privacy-item.audio-out {
  background-color: #0069d4;
}

#workspaces button {
  padding: 0 2px;
  background-color: transparent;
  color: #ffffff;
}
#workspaces button.focused {
  background: rgba(255, 255, 255, 0.1);
}
/* workspaces with no opened window */
#workspaces button.persistent {
  color: rgba(255, 255, 255, 0.5);
}
/* when an app requests attention */
#workspaces button.urgent {
  background-color: rgba(80, 120, 220, 0.5);
}
