@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

.comment {
  display: block;
  max-width: 800px;
  padding: 20px;
  font-size: 18px;
  font-family: 'Droid Sans';
  line-height: 30px;
}

.comment a {
  color: #dd6600;
}

.comment u a {
  color: #000000;
}

.comment font {
  color: #333;
}

.comment p {
  margin-top: 20px;
}

pre {
  max-width: none;
}
