@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/*.comhead, .subtext {
  font-size: 12px;
}

font[size="1"] {
  font-size: 12px;
}*/

.comment {
  display: block;
  max-width: 800px;
  padding: 20px;
  font-size: 18px;
  font-family: 'Droid Sans';
  line-height: 30px;
  /*border: 3px solid rgba(130,130,130,.5);
    border-radius: 3px;*/
}

.comment a {
  color: #dd6600;
}

.comment u a {
  color: #000000;
}

.comment font {
  color: #333;
}

.comment p {
  margin-top: 20px;
}

